<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :post_type %>
    <%= f.number_field :post_type %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.number_field :location_id %>
  </div>

  <div class="field">
    <%= f.label :purpose %>
    <%= f.number_field :purpose %>
  </div>

  <div class="field">
    <%= f.label :additional_info_id %>
    <%= f.number_field :additional_info_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
